<h1><%= @band.name %></h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <% if @venues.any? %>
      <p class="lead">Venues this band has played:</p>
      <ul>
        <% @venues.each do |venue| %>
          <li>
            <a href="/venues/<%= venue.id %>"><%= venue.name %>, <%= venue.location %></a>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="lead text-center">
        Sorry, this band hasn't played any venues. Try adding one below!
      </p>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <% if @all_venues.any? %>
      <form action="/bands/<%= @band.id %>/add/venue" method="post">
        <p>Select the Venue(s) for this band:</p>
        <input type="hidden" name="_method" value="patch">
        <ul>
          <% @other_venues.each do |venue| %>
            <div class="checkbox">
              <input type="checkbox" name="venue_id[]" id="<%= venue.id %>" value="<%= venue.id %>"><%= venue.name %>, <%= venue.location %></input>
            </div>
          <% end %>
        </ul>
        <button id="add_venues" class="btn btn-success" type="submit" name="add_venues">Save</button>
      </form>
    <% end %>
  </div>
  <div class="col-md-4">
    <form action="/bands/<%= @band.id %>/update/name" method="post">
      <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <p>Update this band's name</p>
        <input id="new_band_name" name="new_band_name" type="text" autofocus>
      </div>
      <button class="btn btn-warning" type="submit" id="update_band" name="update_band">Update</button>
    </form>
  </div>
  <div class="col-md-4">
    <form action="/bands/<%= @band.id %>/delete" method="post">
      <div class="form-group">
        <p class="text-center">Delete this Band:</p>
        <input type="hidden" name="_method" value="delete">
      </div>
      <button class="btn btn-danger stretch" type="submit" id="delete_band" name="delete_band">Delete</button>
    </form>
  </div>
</div>
